@use 'mixins' as *;
@use 'palette' as *;

body {
	background-image: $gradient;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cardContainer {
	@include faq-card-container;
	@include flex-row;
}

.faqContainer {
	@include faq-container-column;
}

.imageContainer {
	@include faq-container-column;
	background-image: url("./images/bg-pattern-desktop.svg");
	background-position: 109% 69%;
	background-repeat: no-repeat;
}

.cardDivider {
	@include desktop-item-divider;
}
