@use 'mixins' as *;
@use 'palette' as *;

body {
	background-image: $gradient;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cardContainer {
	@include faq-card-container;
	@include flex-row;
}

.faqContainer {
	@include faq-container-column;
	@include flex-column;
	box-sizing: border-box;
	padding-bottom: 83px;
	padding-left: 87px;
	padding-right: 95px;
	padding-top: 65px;
	width: 532px;

	h1 {
		font-family: $cardFontFamily;
		font-size: $cardHeaderFontSize;
		font-weight: $cardHeaderFontWeight;
		font-style: $cardHeaderFontStyle;
		line-height: $cardHeaderLineHeight;
		margin-bottom: 43px;
	}

	.faqContainer__item--inactive {
		@include desktop-inactive-item;
		@include flex-row;
		border: 1px solid black;
		align-items: flex-start;
		justify-content: space-between;

		:hover {
			color: $cardActiveItemHeaderHoverColor;
			cursor: pointer;
		}
	}

	.faqContainer__item__header--active {
		@include desktop-active-item-header;
	}

	.faqContainer__item__header--inactive {
		@include desktop-inactive-item-header;
	}

	.faqContainer__item__chevron--inactive {
		padding-bottom: 24px;
		padding-right: 16px;
		padding-top: 6px;
	}

	.faqContainer__item__answer--active {
		@include desktop-active-item-text;
		display: block;
	}

	.faqContainer__item__answer--inactive {
		display: none;
	}
}

.imageContainer {
	@include faq-container-column;
	background-image: url("./images/illustration-box-desktop.svg"),
		url("./images/bg-pattern-desktop.svg"),
		url("./images/illustration-woman-online-desktop.svg");
	background-position: -93px 206px, -576px -294px, -84px 70px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	flex-grow: 1;
}

.cardDivider {
	@include desktop-item-divider;
}
