@use 'palette' as *;

// flex box row
@mixin flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

// flex box row
@mixin flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

// faq container
@mixin faq-card-container {
	background-color: $cardBgColor;
	font-family: $cardFontFamily;
	font-style: $cardFontStyle;
	height: $cardHeight;
	width: $cardWidth;
}

@mixin faq-container-column {
	width: 50%;
	height: 100%;
}

// faq item divider
@mixin desktop-item-divider {
	background-color: $cardDividerBgColor;
	height: $cardDividerHeight;
	width: $cardDividerWidth;
}

// Desktop inactive faq item
@mixin desktop-inactive-item {
	color: $cardItemInactiveItemHeight;
	font-size: $cardInactiveFontSize;
	font-weight: $cardInactiveFontWeight;
	line-height: $cardInactiveLineHeight;
	height: $cardInactiveItemWHeight;
	width: $cardInactiveItemWidth;
}

// Desktop active faq item
@mixin desktop-active-item-header {
	color: $cardActiveItemHeaderFontColor;
	font-size: $cardActiveItemHeaderFontSize;
	font-weight: $cardActiveItemHeaderFontWeight;
	line-height: $cardActiveItemHeaderLineHeight;
}

// Desktop active faq text
@mixin desktop-active-item-text {
	color: $cardActiveItemTextFontColor;
	font-size: $cardActiveItemTextFontSize;
	font-weight: $cardActiveItemTextFontWeight;
	line-height: $cardActiveItemTextLineHeight;
}
