// body
$gradient: linear-gradient(#b068e9, #6463e7);

// Desktop card container
$cardBgColor: #fff;
$cardHeight: 509px;
$cardWidth: 920px;
$cardFontFamily: "Kumbh Sans";
$cardFontStyle: normal;
$cardHeaderFontColor: #1e1f36;

// Desktop inactive faq item
$cardItemInactiveItemHeight: 350px;
$cardInactiveItemWidth: 35px;
$cardInactiveItemFontColor: #4b4c5f;
$cardInactiveItemFontSize: 14px;
$cardInactiveItemFontWeight: normal;
$cardInactiveItemLineHeight: 14px;

// Desktop inactive divider
$cardDividerBgColor: #e8e8ea;
$cardDividerWidth: 350px;
$cardDividerHeight: 1px;

// Desktop active faq item header
$cardActiveItemHeaderFontColor: #1e1f36;
$cardActiveItemHeaderFontSize: 14px;
$cardActiveItemHeaderFontWeight: bold;
$cardActiveItemHeaderLineHeight: 14px;

// Deskto active faq text
$cardActiveItemTextFontColor: #787887;
$cardActiveItemTextFontSize: 12px;
$cardActiveItemTextFontWeight: normal;
$cardActiveItemTextLineHeight: 18px;
