@use 'mixins' as *;
@use 'palette' as *;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

$KumbhSans: "Kumbh Sans", sans-serif;

body {
	background-image: $gradient;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cardContainer {
	@include faq-card-container;
	@include flex-row;
	font-family: "Kumbh Sans";

	@media screen and (max-width: 1100px) {
		@include flex-column;
		background-image: url("../assets/images/bg-pattern-mobile.svg");
		background-position: top center;
		justify-content: center;
		align-items: center;
		min-height: 535px;
		width: 327px;
	}

	@media screen and (max-width: 450px) and (max-height: 768px) {
		margin-top: 100px;
	}

	@media screen and (max-width: 400px) and (max-height: 768px) {
		margin-top: 150px;
	}

	@media screen and (max-width: 400px) {
		margin-bottom: 50px;
		min-height: 400px;
	}

	@media screen and (max-width: 350px) {
		margin-top: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.faqContainer {
		@include faq-container-column;
		@include flex-column;

		h1 {
			@include faq-card-container-header;
			font-family: $KumbhSans;
			font-weight: 700;

			@media screen and (max-width: 1100px) {
				align-self: center;
			}

			@media screen and (max-height: 768px) {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 350px) {
				margin-bottom: 0;
			}
		}

		.faqContainer__item--active {
			@include desktop-active-item;
		}

		.faqContainer__item {
			@include desktop-inactive-item;
			@include flex-row;

			@media screen and (max-width: 1100px) {
				width: 100%;
				font-size: 13px;
			}
		}

		.faqContainer__item__headerContainer {
			@include desktop-item-header-container;
		}

		.faqContainer__item__header--active {
			@include desktop-active-item-header;
			font-size: 14px;
			line-height: 14px;
		}

		.faqContainer__item__header {
			@include desktop-inactive-item-header;
			font-family: $KumbhSans;
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;

			&:hover {
				color: $cardActiveItemHeaderHoverColor;
				cursor: pointer;
			}

			@media screen and (max-width: 1100px) {
				font-size: 13px;
			}
		}

		.faqContainer__item__chevron--active {
			transform: rotate(180deg);
		}

		.faqContainer__item__chevron {
			@include chevron;

			@media screen and (max-width: 1100px) {
				padding-right: 0;
			}
		}

		.faqContainer__item__answer--active {
			@include desktop-active-item-text;
			display: block !important;
			align-self: flex-start !important;
		}

		.faqContainer__item__answer {
			display: none;
			font-family: $KumbhSans;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}

		div:first-of-type {
			border-top: none;
		}

		@media screen and (max-width: 1100px) {
			padding: 0;
			width: 100%;
			min-height: 355px;
			width: 279px;
			margin-bottom: 48px;
			box-sizing: border-box;
		}

		@media screen and (max-width: 400px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 350px) {
			margin-bottom: 0;
		}
	}

	.cardContainer__imageContainerOne {
		@include image-container-one;

		@media screen and (max-width: 1100px) {
			display: none;
		}
	}

	.cardContainer__imageContainerTwo {
		@include image-container-two;

		picture {
			position: absolute;
			top: 82px;
			left: -82px;

			@media screen and (max-width: 1100px) {
				height: 180px;
				top: -108px;
				left: 20px;
				z-index: 100;
			}

			@media screen and (max-width: 350px) {
				left: 10px;
			}
		}

		.imageContainer__womanOnline {
			position: absolute;

			@media screen and (max-width: 1100px) {
				height: 196px;
				width: 256px;
			}
		}

		@media screen and (max-width: 1100px) {
			width: 100%;
			min-height: 130px;
			overflow: visible;
		}
	}
}
