@use 'palette' as *;

// flex box row
@mixin flex-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

// flex box row
@mixin flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

// faq container
@mixin faq-card-container {
	background-color: $cardBgColor;
	border-radius: $cardBorderRadius;
	box-sizing: border-box;
	font-family: $cardFontFamily;
	font-style: $cardFontStyle;
	height: $cardHeight;
	width: $cardWidth;
}

@mixin faq-container-column {
	height: 100%;
}

// Deskto active faq item
@mixin desktop-active-item {
	flex-direction: column !important;
	height: fit-content !important;
	height: -moz-max-content !important;
	margin-bottom: 10px !important;
}

// Desktop inactive faq item
@mixin desktop-inactive-item {
	color: $cardInactiveItemFontColor;
	font-family: $cardFontFamily;
	font-size: $cardInactiveItemFontSize;
	font-style: $cardFontStyle;
	font-weight: $cardInactiveItemFontWeight;
	line-height: $cardInactiveItemLineHeight;
	height: $cardItemInactiveItemHeight;
	width: $cardInactiveItemWidth;
}

// Desktop faq item header container
@mixin desktop-item-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

// Desktop active faq item header
@mixin desktop-active-item-header {
	color: $cardActiveItemHeaderFontColor;
	font-size: $cardActiveItemHeaderFontSize;
	font-weight: $cardActiveItemHeaderFontWeight;
	line-height: $cardActiveItemHeaderLineHeight;
}

// Desktop inactive faq item header
@mixin desktop-inactive-item-header {
	color: $cardInactiveItemHeaderFontColor;
	font-size: $cardInactiveItemHeaderFontSize;
	font-weight: $cardInactiveItemHeaderFontWeight;
	line-height: $cardInactiveItemHeaderLineHeight;
}

// Desktop active faq text
@mixin desktop-active-item-text {
	color: $cardActiveItemTextFontColor;
	font-size: $cardActiveItemTextFontSize;
	font-weight: $cardActiveItemTextFontWeight;
	line-height: $cardActiveItemTextLineHeight;
}
